<form>
	<p>Your Name: <input type="text" name="dojo[name]"></p>
	<p>Dojo Location: 
		<select name="dojo[location]">
			<option value="Mountian View">Mountian View</option>
			<option value="Bellevue">Bellevue</option>
			<option value="New York">New York</option>
		</select>
	</p>
	<p>Favorite Language: 
		<select name="dojo[language]">
			<option value="JavaScript">JavaScript</option>
			<option value="PHP">PHP</option>
			<option value="Ruby">Ruby</option>
		</select>
	</p>
	<p>Comment (optional): </p>
	<textarea name="dojo[comment]"></textarea>
	<input type="submit" value="Submit">
</form>
